  .slider-top{
      /* display: grid; */
      /* grid-template-columns: 1fr; */
      /* grid-template-rows: 100vw; */
      /* max-height: 85vh; */
      height: calc(100vh - 140px);
      width: 100vw;
        position: relative;

  }

  .slider__item{
    width: 100%;
    /* max-height: 90vh; */
    height: calc(100vh - 140px);
    /* height: 85vh; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.slider .slick-dots button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 1 solid #0B0B0B;
    padding: 0;
    font-size: 0;
    cursor: pointer;
    outline: none;
    justify-content: center;
}

.slider .slick-dots .slick-active button{
    background-color: #0B0B0B;
}

.slider .slick-dots li{
    display: inline-block;
    margin: 0 5px;
}

.slick-prev{
    position: absolute;
    background-color:#8cbbd3;
    color: #fff;
    /* border: 2px solid blue; */
    border-radius: 25%;
    font-weight: bold;
    left: 10%;
    top: 45vh;
    height: 30px;
    width: 30px;
    z-index: 2;
}

.slick-next{
    position: absolute;
    background-color:#8cbbd3;
    color: #fff;
    border-radius: 25%;
    font-weight: bold;
    right: 10%;
    top: 45vh;
    height: 30px;
    width: 30px;
    z-index: 2;
}

.slick-prev:hover{
    transform: scale(1.3);
}

.slick-next:hover{
    transform: scale(1.3);
}


.slider .slick-dots{
    margin: 0 auto 0;
    position: relative;
    z-index: 0;
    width: 100%;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
}
