.apps {
	display: grid;
	grid-template-columns: 1fr 5fr;
	height: calc(100% - 170px);
	&__link {
	}

	&__box {
		width: 100%;
	}

	&__puzzle {
	}

	&__guess {
	}

	&__password {
	}
	&__block {
		visibility: hidden;
		position: absolute;
	}
	.visible {
		position: static;
		visibility: visible;
	}
}

.tabs {
	text-decoration: none;

	&__items {
		display: flex;
		flex-direction: column;
		color: #fff;
		line-height: 4;
		text-transform: uppercase;
	}

	&__item {
		border: 1px solid #555;
		border-radius: 10px 0 0 10px;
		// border-right: 3px solid #eee;
		padding-left: 15px;
		position: relative;
		z-index: 10000;

		&.active {
			background-color: #eee;
			border-right: 3px solid #eee;
		}
	}

	&__body {
		border: 1px solid #555;
		border-radius: 0 10px 10px 10px;
		padding-left: 30px;
		margin-left: -1px;
		background-color: #eee;
	}

	&__block {
		display: none;

		&:target {
			display: block;
		}
	}
}

input {
	border: 1px solid #a0a0a0;
	background-color: #f5f5f5;
	width: 400px;
	height: 34px;
	padding-left: 10px;
	font-size: 20px;
	font-weight: 100;
	margin-bottom: 12px;
}

#button {
	display: block;
	float: left;
	background-color: #8cbbd3;
	color: #ffffff;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	margin: 30px 0 0 30px;
	padding: 11px 51px;
	border: none;
}

#btnAnswers {
	display: none;
}
