a:hover {
	font-weight: bold;
}

.main .photo {
	display: grid;
	justify-content: center;
}

.photo img {
	max-height: 265px;
}

.photo img:hover {
	border: 1px solid red;
}

a.photo {
	display: grid;
	text-decoration: none;
	justify-content: center;
	text-align: center;
}

a.photo img {
	margin-bottom: 20px;
	width: 100%;
	max-height: 700px;
}

.photos {
	display: grid;
	grid-template-columns: repeat(auto-fit, 310px);
	justify-content: space-between;
	grid-gap: 20px;
	padding-bottom: 20px;
	align-content: center;
	/* justify-content: center; */
}

.a_to_slide {
	position: absolute;
	top: 90px;
	right: 30px;
	z-index: 1000;

	background-color: #8cbbd3;
	color: #ffffff;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	padding: 11px 51px;
	border: none;
}

/* .a_to_slide a{
justify-content: right;
} */

.fullphoto1 {
	background-color: #000;
	position: absolute;
	top: 0;
	left: -100%;
	height: 100%;
	width: 100%;
	transition: all 0.5s;
	z-index: 7;

	& img {
		width: 100%;
	}

	&.active {
		left: 0;
	}
}

.fullphoto {
	display: flex;
	flex-direction: column;

	& img {
		max-width: 100vw;
		max-height: calc(100vh - 240px);
		padding: 0;
		margin: 0 0 10px;
	}
}

.full-photo {
	background-color: #000;
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	transition: all 0.5s;
	z-index: 7;

	&.active {
		left: 0;
	}
}

.gallery__item .container-menu {
	position: relative;
}

.close-btn {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 15px;
	top: 31px;
	cursor: pointer;
}

.media {
	margin-right: 0;
}
