.sites
	display: grid
	grid-template-columns: (repeat(auto-fit, minmax(350px, 1fr)))
	grid-gap: 20px
	justify-content: center
	flex-wrap: wrap
	color: #fff
	padding: 20px
	box-shadow:

	& h2
		color: #fff
		margin: 0
		background-color: #555
		border-radius: 10px

.siteblock
	display: grid
	grid-template-rows: 100px 1fr 160px
	justify-content: center
	align-items: center
	background-color: #333
	box-shadow: 0 0 30px rgba(60, 60, 60, 0.6)
  // margin: 15px
	padding: 10px
	transition: 0.3s
	border: 3px solid #bbb
	border-radius: 20px
	text-align: center

	&:hover
		transform: scale(1.025)

	&__img
		max-width: 100%
		max-height: 100%
		object-fit: cover
		padding: 10px

	&__description
		text-align: center
		color: #fff
