.gallery {
  margin-bottom: 30px;
}

.gallery__title {
  margin-bottom: 20px;
}

.gallery__items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery__btn-to-slide {
  position: absolute;
  top: 90px;
  right: 30px;
  z-index: 1000;
  background-color: #8cbbd3;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  padding: 11px 51px;
  border: none;
}

.gallery__item {
  position: relative;
  padding-bottom: 85%;
}

.gallery__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__item-big {
  grid-column: span 2;
  grid-row: span 2;
}